* text=auto !eol
WiiQt/aes.c -text
WiiQt/aes.h -text
WiiQt/ash.cpp -text
WiiQt/ash.h -text
WiiQt/blocks0to7.cpp -text
WiiQt/blocks0to7.h -text
WiiQt/bn.cpp -text
WiiQt/bn.h -text
WiiQt/ec.cpp -text
WiiQt/ec.h -text
WiiQt/includes.h -text
WiiQt/keysbin.cpp -text
WiiQt/keysbin.h -text
WiiQt/lz77.cpp -text
WiiQt/lz77.h -text
WiiQt/md5.cpp -text
WiiQt/md5.h -text
WiiQt/nandbin.cpp -text
WiiQt/nandbin.h -text
WiiQt/nanddump.cpp -text
WiiQt/nanddump.h -text
WiiQt/nandspare.cpp -text
WiiQt/nandspare.h -text
WiiQt/nusdownloader.cpp -text
WiiQt/nusdownloader.h -text
WiiQt/savebanner.cpp -text
WiiQt/savebanner.h -text
WiiQt/savedatabin.cpp -text
WiiQt/savedatabin.h -text
WiiQt/settingtxtdialog.cpp -text
WiiQt/settingtxtdialog.h -text
WiiQt/settingtxtdialog.ui -text
WiiQt/sha1.c -text
WiiQt/sha1.h -text
WiiQt/sharedcontentmap.cpp -text
WiiQt/sharedcontentmap.h -text
WiiQt/tiktmd.cpp -text
WiiQt/tiktmd.h -text
WiiQt/tools.cpp -text
WiiQt/tools.h -text
WiiQt/u8.cpp -text
WiiQt/u8.h -text
WiiQt/uidmap.cpp -text
WiiQt/uidmap.h -text
WiiQt/wad.cpp -text
WiiQt/wad.h -text
breft_editor/breft.cpp -text
breft_editor/breft.h -text
breft_editor/breft.pro -text
breft_editor/main.cpp -text
breft_editor/mainwindow.cpp -text
breft_editor/mainwindow.h -text
breft_editor/texture.cpp -text
breft_editor/texture.h -text
nandBinCheck/main.cpp -text
nandBinCheck/nandBinCheck.pro -text
nandBinCheck/readmii.txt -text
nandExtract/black.png -text
nandExtract/blue.png -text
nandExtract/boot2infodialog.cpp -text
nandExtract/boot2infodialog.h -text
nandExtract/boot2infodialog.ui -text
nandExtract/green.png -text
nandExtract/grey.png -text
nandExtract/main.cpp -text
nandExtract/nandExtract.pro -text
nandExtract/nandthread.cpp -text
nandExtract/nandthread.h -text
nandExtract/nandwindow.cpp -text
nandExtract/nandwindow.h -text
nandExtract/nandwindow.ui -text
nandExtract/pink.png -text
nandExtract/rc.qrc -text
nandExtract/readmii.txt -text
nand_dump/main.cpp -text
nand_dump/mainwindow.cpp -text
nand_dump/mainwindow.h -text
nand_dump/mainwindow.ui -text
nand_dump/nand.pro -text
nand_dump/readmii.txt -text
ohneschwanzenegger/main.cpp -text
ohneschwanzenegger/mainwindow.cpp -text
ohneschwanzenegger/mainwindow.h -text
ohneschwanzenegger/mainwindow.ui -text
ohneschwanzenegger/newnandbin.cpp -text
ohneschwanzenegger/newnandbin.h -text
ohneschwanzenegger/newnandbin.ui -text
ohneschwanzenegger/refleurii.pro -text
saveToy/includes.h -text
saveToy/main.cpp -text
saveToy/mainwindow.cpp -text
saveToy/mainwindow.h -text
saveToy/mainwindow.ui -text
saveToy/ngdialog.cpp -text
saveToy/ngdialog.h -text
saveToy/ngdialog.ui -text
saveToy/noBanner.png -text
saveToy/noIcon.png -text
saveToy/quazip/include/JlCompress.h -text
saveToy/quazip/include/crypt.h -text
saveToy/quazip/include/ioapi.h -text
saveToy/quazip/include/quaadler32.h -text
saveToy/quazip/include/quachecksum32.h -text
saveToy/quazip/include/quacrc32.h -text
saveToy/quazip/include/quazip.h -text
saveToy/quazip/include/quazipfile.h -text
saveToy/quazip/include/quazipfileinfo.h -text
saveToy/quazip/include/quazipnewinfo.h -text
saveToy/quazip/include/unzip.h -text
saveToy/quazip/include/zconf.h -text
saveToy/quazip/include/zip.h -text
saveToy/quazip/include/zlib.h -text
saveToy/quazip/lib/linux_x64/libquazip.a -text
saveToy/quazip/lib/linux_x86/libquazip.a -text
saveToy/quazip/lib/mac/libquazip.a -text
saveToy/quazip/lib/win32/libquazip.a -text
saveToy/rc.qrc -text
saveToy/readmii.txt -text
saveToy/saveToy.pro -text
saveToy/savelistitem.cpp -text
saveToy/savelistitem.h -text
saveToy/saveloadthread.cpp -text
saveToy/saveloadthread.h -text
saveToy/textdialog.cpp -text
saveToy/textdialog.h -text
saveToy/textdialog.ui -text
