* text=auto !eol
nandExtract/aes.c -text
nandExtract/aes.h -text
nandExtract/includes.h -text
nandExtract/main.cpp -text
nandExtract/nandExtract.pro -text
nandExtract/nandbin.cpp -text
nandExtract/nandbin.h -text
nandExtract/nandwindow.cpp -text
nandExtract/nandwindow.h -text
nandExtract/nandwindow.ui -text
nandExtract/tools.cpp -text
nandExtract/tools.h -text
nand_dump/aes.c -text
nand_dump/aes.h -text
nand_dump/includes.h -text
nand_dump/main.cpp -text
nand_dump/mainwindow.cpp -text
nand_dump/mainwindow.h -text
nand_dump/mainwindow.ui -text
nand_dump/nand.pro -text
nand_dump/nanddump.cpp -text
nand_dump/nanddump.h -text
nand_dump/nusdownloader.cpp -text
nand_dump/nusdownloader.h -text
nand_dump/settingtxtdialog.cpp -text
nand_dump/settingtxtdialog.h -text
nand_dump/settingtxtdialog.ui -text
nand_dump/sha1.c -text
nand_dump/sha1.h -text
nand_dump/sharedcontentmap.cpp -text
nand_dump/sharedcontentmap.h -text
nand_dump/tiktmd.cpp -text
nand_dump/tiktmd.h -text
nand_dump/tools.cpp -text
nand_dump/tools.h -text
nand_dump/uidmap.cpp -text
nand_dump/uidmap.h -text
nand_dump/wad.cpp -text
nand_dump/wad.h -text
saveToy/includes.h -text
saveToy/main.cpp -text
saveToy/mainwindow.cpp -text
saveToy/mainwindow.h -text
saveToy/mainwindow.ui -text
saveToy/noBanner.png -text
saveToy/noIcon.png -text
saveToy/rc.qrc -text
saveToy/saveToy.pro -text
saveToy/savebanner.cpp -text
saveToy/savebanner.h -text
saveToy/savelistitem.cpp -text
saveToy/savelistitem.h -text
saveToy/saveloadthread.cpp -text
saveToy/saveloadthread.h -text
saveToy/tools.cpp -text
saveToy/tools.h -text
